# PostgreSQL Connection String
DATABASE_URL="postgresql://codearena:codearena_secret@localhost:5432/codearena_db?schema=public"

# Redis Connection String
REDIS_URL="redis://localhost:6379"

# Web Port
PORT=3000

# Node Environment
NODE_ENV="development"
